<div class="titulo">
    Todos los Examenes
</div>
<div class="container mt20" style="text-align: right;">
    <button mat-raised-button color="primary" routerLink="/admin/add-examen">
        <mat-icon mat-list-icon >add_circle_outline</mat-icon>Agregar Examen
    </button>
</div>
<mat-card class="mt10" *ngFor="let e of examen">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                {{e.titulo}}
            </mat-card-title>
            <mat-card-subtitle>
                {{e.categoria.titulo}}
            </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary">Calificacion Maxima {{e.puntosMaximos}}</button>
            <button mat-stroked-button color="primary" class="ml20">Preguntas {{e.numeroPreguntas}}</button>
            <button mat-flat-button color="primary" class="ml20">Intentos</button>
            <button mat-flat-button color="primary" class="ml20" [routerLink]="'/admin/ver-preguntas/'+e.examenId+'/'+e.titulo">Preguntas</button>
            <button mat-flat-button class="ml20 color-boton-principal" [routerLink]="'/admin/examen/'+e.examenId">Actualizar</button>
            <button mat-flat-button color="warn" class="ml20" (click)="eliminarExamen(e.examenId)">Eliminar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

