<div class="bootstrap-wrapper" *ngIf="!pruebaEnviada">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <ng-container *ngIf="preguntas">
                    <h1 class="mt20">
                        Prueba <b>{{preguntas[0].examen.titulo}}</b>
                    </h1>
                </ng-container>

                <mat-card *ngFor="let p of preguntas;let i = index">
                    <mat-card-content>
                        <p><b>{{i+1}}) </b> <span [innerHTML] = "p.contenido">{{p.opcion1}}</span></p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] ="respuestas[i]"  type="radio" [value] = "p.opcion1" name = {{i}}>{{p.opcion1}}
                            </div>
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] ="respuestas[i]" type="radio" [value] = "p.opcion2" name = {{i}}>{{p.opcion2}}
                            </div>
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] ="respuestas[i]" type="radio" [value] = "p.opcion3" name = {{i}}>{{p.opcion3}}
                            </div>
                            <div class="col-md-7 mt10">
                                <input [(ngModel)] ="respuestas[i]" type="radio" [value] = "p.opcion4" name = {{i}}>{{p.opcion4}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6"></div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20 mb20">
                    <button mat-raised-button color="primary" (click)="enviarCuestionario()">Enviar Prueba</button>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>

<div class="bootstrap-wrapper" *ngIf = "pruebaEnviada">
    <div class="container mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Resultado de la prueba
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center">
            <h1>Puntos conseguidos : {{preguntasCorrectas}}</h1>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button  mat-raised-button color="primary">Imprimir</button>
            <button mat-raised-button color="accent" [routerLink] = "'/user-dashboard/0'">Inicio</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>