<mat-card>
    <h1 style="margin-bottom: 30px;">Agregar nuevo Examen</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form (ngSubmit)="guardarExamen()">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input
                        [(ngModel)]="examenData.titulo"
                        type="text"
                        required
                        name="titulo"
                        placeholder="Ingrese el titulo del examen"
                        matInput
                    >
                </mat-form-field>
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea
                        [(ngModel)]="examenData.descripcion"
                        name="descripcion"
                        placeholder="Ingrese la descripcion del examen"
                        matInput
                        rows="8"
                    ></textarea>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Puntos Máximos</mat-label>
                            <input
                                [(ngModel)]="examenData.puntosMaximos"
                                type="number"
                                required
                                name="puntosMaximos"
                                placeholder="Ingrese la cantidad de puntos"
                                matInput
                            >
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Numero de Preguntas</mat-label>
                            <input
                                [(ngModel)]="examenData.numeroPreguntas"
                                type="number"
                                required
                                name="numeroPreguntas"
                                placeholder="Ingrese el numero de preguntas"
                                matInput
                            >
                        </mat-form-field>
                    </div>
                </div>
                
                <mat-form-field appearance="fill" class="mt20 w100">
                    <mat-label>Categoría</mat-label>
                    <mat-select name="categoria" [(ngModel)]="examenData.categoria.idCategoria" required>
                        <mat-option  *ngFor="let c of categorias" [value]="c.idCategoria">
                            {{c.titulo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-slide-toggle class="mt20" name="activo" [(ngModel)]="examenData.activo" color="primary">
                    Publicar Examen
                </mat-slide-toggle>
                <div class="container text-center">
                    <button mat-raised-button color="primary">Agregar</button>
                </div>

            </form>
        </div>
    </div>
</mat-card>