<mat-card>
    <mat-list>
        <div class="titulo">
            Todas las Categorias
        </div>
        <div class="container mt20 text-right">
            
            <button mat-raised-button class="color-boton" routerLink="/admin/add-categoria">
                <mat-icon mat-list-icon >add_circle_outline</mat-icon>Agregar Categoria
            </button>
        </div>
        <mat-list-item *ngFor="let c of categorias">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line class="titulo-categoria">{{c.titulo}}</div>
            <div mat-line>{{c.descripcion}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    
</mat-card>
