.ml40{
    margin-left: 750px;
    margin-top: 40px;
}
.titulo{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.text-right{
    text-align: right;
}
.color-boton{
    background-color: var(--color-primario);
}
.titulo-categoria{
    font-weight: bold !important;
}
